<html>
	<head>
		<title>Sveta's blog</title>
	</head>
	<body>
		<div>
			<h1>Hi there!</h1>
		</div>
		{% for post in posts %}
		<div>
			<p>It works!</p>
		</div>
		<div>
			<h2><a href="http://127.0.0.1:8000/admin/blog/post/1/">My first post</a></h2>
			<p>Администрирование Django</p>
		</div>
			<h2><a href="http://127.0.0.1:8000/admin/blog/post/2/">My second post</a></h2>
			<p>Модели Django</p>
		<div>
			<h2><p>
				Django Girls Blog
			</p>
		</div>
		<div>
			<p>published: {{ post.published_date }}</p>
			<h1><a href="">{{ post.title }}</a></h1>
			<p>{{ post.text|linebreaks }}</p>
		</div>
		{% endfor %}	
	</body>
</html>